/nbproject
/phpunit-report
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html